@import 'animations';

$className: 'slider';

.#{$className} {
    position: relative;
    margin: auto;
    height: 100%;
    width: 900px;
    overflow: hidden;
    .#{$className}__main-picture {
        margin: 50px auto 0;
        width: 600px;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 0.2s linear;
        &.picture-0 {
            background-image: url('./images/image_0.png');
        }
        &.picture-1 {
            background-image: url('./images/image_1.jpg');
        }
        &.picture-2 {
            background-image: url('./images/image_2.jpg');
        }
        &.picture-3 {
            background-image: url('./images/image_3.jpg');
        }
        &.picture-4 {
            background-image: url('./images/image_4.jpg');
        }
        &.picture-5 {
            background-image: url('./images/image_5.jpg');
        }
        &.picture-6 {
            background-image: url('./images/image_6.jpg');
        }
        &.picture-7 {
            background-image: url('./images/image_7.jpg');
        }
        &.picture-8 {
            background-image: url('./images/image_8.jpg');
        }
    }
    .#{$className}__row {
        position: relative;
        margin: 20px auto;
        width: 700px;
        height: 70px;
        text-align: center;
        .#{$className}__arrow {
            cursor: pointer;
            display: inline-block;
            border: 15px solid transparent;
            &.left {
                border-right: 25px solid #8C782C;
            }
            &.right {
                border-left: 25px solid #8C782C;
            }
            &.shake {
                pointer-events: none;
                animation: shake 0.3s ease-in-out;
            }
        }
        .#{$className}__small-picture__wrapper {
            display: inline-block;
            position: relative;
            top: 50%;
            overflow: hidden;
            transform: translateY(-50%);
            .#{$className}__small-picture__inner {
                display: inline-block;
                position: relative;
                left: 0;
                height: 50px;
                white-space: nowrap;
                transition: left 0.3s linear;
                .#{$className}__small-picture {
                    cursor: pointer;
                    display: inline-block;
                    margin: 5px 10px;
                    width: 60px;
                    height: 40px;
                    vertical-align: middle;
                    border-radius: 5px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: box-shadow 0.2s linear;
                    &.picture-0 {
                        background-image: url('./images/image_0.png');
                    }
                    &.picture-1 {
                        background-image: url('./images/image_1.jpg');
                    }
                    &.picture-2 {
                        background-image: url('./images/image_2.jpg');
                    }
                    &.picture-3 {
                        background-image: url('./images/image_3.jpg');
                    }
                    &.picture-4 {
                        background-image: url('./images/image_4.jpg');
                    }
                    &.picture-5 {
                        background-image: url('./images/image_5.jpg');
                    }
                    &.picture-6 {
                        background-image: url('./images/image_6.jpg');
                    }
                    &.picture-7 {
                        background-image: url('./images/image_7.jpg');
                    }
                    &.picture-8 {
                        background-image: url('./images/image_8.jpg');
                    }
                    &:hover {
                        box-shadow: #8C782C 0px 0px 5px 5px;
                    }
                }
            }
        }
    }
}