// general styles

body {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    min-height: 560px;
    font-size: 24px;
    font-family: Arial;
    overflow-x: hidden;
    user-select: none;
    background-repeat: no-repeat;
    background-size: 1366px 720px;
    background-position: center top;
    background-color: #240d13;
    background-image: url('../images/background.jpg');
}