$className: 'form';

.#{$className}{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: rgba(97, 53, 35, 0.7);
    transition: transform 0.3s linear;
    .#{$className}__row {
        position: relative;
        width: 100%;
        .#{$className}__row__label {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            line-height: 1.6;
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
}