$className: 'header__login__form';

.#{$className} {
    position: absolute;
    left: 50%;
    top: 80px;
    width: 280px;
    color: #8C782C;
    font-size: 16px;
    border-radius: 25px;
    box-sizing: border-box;
    perspective: 800px;
    transform: translateX(-50%);
    transition: opacity 0.3s linear, visibility 0.3s;
    .form {
        .form__row:last-child {
            text-align: center;
        }
        &.signup {
            transform: rotateY(180deg);
        }
    }
    &.signin {
        .form.signin {
            transform: rotateY(0deg);
        }
        .form.signup {
            transform: rotateY(180deg);
        }
    }
    &.signup {
        .form.signin {
            transform: rotateY(-180deg);
        }
        .form.signup {
            transform: rotateY(0deg);
        }
    }
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}