@import 'mixins';

$className: 'header__login-signin';

.#{$className}{
    @include hiddenable($class: 'header__login-signin__form');

    display: inline-block;
    .#{$className}__label{
        cursor: pointer;
        color: #8C782C;
        font-style: italic;
        text-decoration: underline;
    }
    .#{$className}__form{
        position: absolute;
        left: 50%;
        width: 100px;
        transition: opacity 0.3s linear, visibility 0.3s;
    }
}